<div id="main-content" class="container">
  <div class="jumbotron">
  	<img src="images/jumbo.jpg" alt="All the books" class="img-responsive visible-xs">
  </div>

  <div class="presentation">
  	<h1 class="text-center"> Qu'est ce que ce site? </h1>
  	<p class="text-center">

  	</p>
  	<h1 class="text-center"> D'où viennent ces livres? </h1>
  	<p class="text-center">

  	</p>
  	<h1 class="text-center"> Pourquoi? </h1>
  	<p class="text-center">

  	</p>
  </div>

  <div id="home-titles" class="row">
  	<div class="col-sm-6 col-xs-12">
  		<a ui-sref='public.books'>
  			<div id="book-tile">
  				<span>Tous les Livres</span>
  			</div>
  		</a>
  	</div>
  	<div class="col-sm-6 col-xs-12">
  		<a href="https://www.google.fr/maps/place/28+Rue+Giner+de+Los+Rios,+33800+Bordeaux/@44.8281779,-0.5730894,17z/data=!3m1!4b1!4m5!3m4!1s0xd5527b7aa459ecb:0xe28678ed58e79741!8m2!3d44.8281779!4d-0.5709007" target="_blank">
  			<div id="map-tile">
  				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2829.675362925755!2d-0.5730893844637361!3d44.82817787909864!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd5527b7aa459ecb%3A0xe28678ed58e79741!2s28+Rue+Giner+de+Los+Rios%2C+33800+Bordeaux!5e0!3m2!1sfr!2sfr!4v1471784537787" width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
  				<span>Map</span>
  			</div>
  		</a>
  	</div>
  </div>
</div>
